  <nav class="yellow lighten-1">
    <div class="nav-wrapper">
      <h5 class="light brand-logo green-text text-darken-2">Enquete</h5>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "Sobre" %></li>
        <li><%= link_to “Sair”, destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><%= link_to "Sobre" %></li>
    <li><%= link_to “Sair”, destroy_user_session_path, method: :delete %></li>
  </ul>